/**********************************************/
/*
	Project: KPU
	Author: Husein Assidiq
	Date Modified: 00:39 04 May 2019 (Saturday) 
	Version: 1.0
	Lesensi: MIT
*/
/*********************************************/

body {
	font-family: 'Open Sans',sans-serif;
	font-size: 15px;
}

/* Custom */
.bg-blue-dark {
	background-color: #563D7C;
}
.bold {
	font-weight: 600;
}

/* Text Writting */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
.navbar-1 .nav-item {
	margin-left: 20px;
}
@media screen and (max-width: 600px){
	.navbar-1 .nav-item {
		margin-left: 0;
	}
}

/* Page Cek Data */
.cek-data .form-control {
	font-size: inherit;
}
.cek-data .form-control:focus {
	box-shadow: none;
}
@media screen and (max-width: 600px){
	#myChart {
		height: 200px;
		width: 200px;
	}
}